.c-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 140px;
    font-size: 36px;
    

    &__link{
        text-decoration: none;
        color: white;
        
    }

}