.c-gallery{
     
    padding-left: 156px;
    padding-right: 156px;
}
.card{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 68px;
    

    &__img{
        object-fit: cover;
        width: 100%;
        height: 320px;
    }
    
    &__text{
        position: absolute;
        bottom: 27px;
        width: 81%;
    }
    

}