.c-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 156px;

    top: 0;
    z-index: 1000;
    padding-left: 156px;
    background-color: black;

    &__img{
        width: 50px;
        margin: 20px;
    }
}
.one{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}
.two{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-items: center;
}
