@font-face{
  font-family: 'Got';
  src: url('./assets/fonts/Game\ of\ Thrones.ttf');
}

@import '~bootstrap/scss/bootstrap-grid';


body{
  font-family: 'Got';
  background-color: black;
  color: white;
  
}

img{
  width: 100%;
}